.import_wallet_button {
  text-align: center;
  color: #6c757d;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.home_createWallet_button {
  width: 100%;
  background: #6552fe !important;
  height: 48px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #fff !important;
  border-radius: 15px !important;
  margin-top: 20px;
}
